<div class="container">
  <table class="table table-hover">
    <thead>
    <tr>
      <th>post</th>
      <th></th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let post of posts">
      <td>{{ post.title}}</td>
      <td>{{ post.dateTime}}</td>
      <td>{{ post.context}}</td>
      <td>
        <button class="btn btn-primary" (click)="load()">edit</button>
      </td>
      <td>
        <button class="btn btn-primary" (click)="delete(post.id)">delete</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>





